<h1 class="page-header">Form Fill Drag And Drop</h1>
<%= react_component("FormFillDragAndDropApp",
                     @form_fill_props,
                     generator_function: false,
                     prerender: false,
                     trace: true) %>s
